body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board {
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board {
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

/*cell*/
.board-cell {
    width: calc(100% / 3);
    height: calc(100% / 3);
    border: solid 2px black;
    cursor: pointer;
    font-size: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.board-cell:nth-child(3n + 1) {
    border-left: none;
}
.board-cell:nth-child(3n + 3) {
    border-right: none;
}
.board-cell:nth-child(-n + 3) {
    border-top: none;
}
.board-cell:nth-child(n + 7):nth-child(-n + 9) {
    border-bottom: none;
}

.board-cell:hover {
    background-color: #e0dcdc;
    opacity: 0.5;
    cursor: pointer;
}

/*選べない時にセル内の色を変えようとしたが、いまいち出来てないです*/
.board-cell.Disable {
    opacity: 0.7;
    background-color: #ffd83f;
}

/* クリック後に✖️印を追加 */
.x::after {
    content: "X";
}

/* クリック後に◯印を追加 */
.o::after {
    content: "O";
}

.clicked {
    cursor: not-allowed;
}

.mode-select {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
}

.mode-select .select-text.title {
    color: coral;
    font-size: 150%;
    font-weight: 600;
    margin-bottom: 20px;
}
.mode-select .select-text {
    font-size: 200%;
}

.mode-select button {
    color: black;
    border-color: white;
    background-color: white;
    font-size: 250%;
    margin-top: 1rem;
    padding: 0.8rem 1rem;
    border-radius: 3rem;
}

.mode-select button:hover {
    color: coral;
    background-color: black;
    border-color: black;
}

.mode-select.visible {
    display: flex;
}

.mode-select .show-logs {
    margin-top: 15px;
    padding-bottom: 4px;
    font-weight: 600;
}
.mode-select .show-logs:hover {
    margin-top: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: coral;
    cursor: pointer;
}

.finish {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
}

.finish .finish-text {
    font-size: 500%;
}

.finish button {
    color: black;
    border-color: white;
    background-color: white;
    font-size: 200%;
    margin-top: 1rem;
    border-radius: 3rem;
}

.finish button:hover {
    color: coral;
    background-color: black;
    border-color: black;
}

.finish.visible {
    display: flex;
}

.menu.visible {
    display: flex;
}
.menu div {
    margin: 10px auto;
    text-align: center;
}
.menu .select-log {
    height: 50px;
}

.menu .select-log button {
    width: 40px;
    height: 35px;
    margin: 0 15px;
    padding: 4px 2px;
    border: none;
    border-radius: 0.5vh;
    background-color: black;
    font-size: 1.2rem;
    color: white;
}
.menu .select-log button.disabled {
    color: gray;
    cursor: not-allowed;
}
.menu .select-log button:hover:not(.disabled) {
    color: coral;
    padding-bottom: 2px;
}

.menu .back-top {
    padding-bottom: 4px;
    color: black;
    font-weight: 600;
}
.menu .back-top {
    padding-bottom: 4px;
    color: black;
    font-weight: 600;
}
.menu .back-top:hover {
    padding-top: 2px;
    padding-bottom: 2px;
    color: coral;
    cursor: pointer;
}
